<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Random jokes</title>
    <link rel="stylesheet"  href="css/style.css">
  </head>
  <body>
          <h4>Joke with Our Hero</h4>
          <img src="<%=url%>" alt="chucknorris">
          <div class="joke">
            <p><%=randomJoke%></p>
          </div>
          <a href="">Another joke</a>
          <br/>
          <a href="/index">Return to index</a>

  </body>
</html>
