<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke categories</title>
    <link rel="stylesheet"  href="css/style.css">

  </head>
  <body>

    <h1>Categories</h1>

    <%categories.forEach(function(cat){%>
      <p><a href="categories/<%=cat%>"><%=cat%></a></p>
      <%})%>
    <hr>
    <a href="/index"><h3>volver</h3></a>
  </body>
</html>
