<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SearchShow</title>
      <link rel="stylesheet"  href="css/style.css">
  </head>
  <body>
    <p><%=term%></p>

    <% if ( items.length !== 0){ %>
      <h4>Here are all the jokes with <%=term%> in it.</h4>
      <% items.forEach(function (item){ %>
          <%- include('../joke', {joke: item.value}) %>
      <% }); %>
    <% } else { %>
      <h4>Thers is no jokes with word "<%=term%>" in it.</h4>
    <% } %>

    <hr>
    <a href="/search">Return to search</a>
  </body>
</html>
