<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SearchShow</title>
      <link rel="stylesheet"  href="css/style.css">
  </head>
  <body>
    <p><%=term%></p>

    <%if (  items.length !== 0){%>
      <p>Here are all the jokes with <%=term%> in it.</p>
      <% items.forEach(function (item){ %>
          <%- include('../joke', {joke: item.value}) %>
      <% });%>
    <% } else {%>
      <p>Thers is no jokes with <%=term%> in it.</p>
    <%}%>

    <hr>
    <a href="/search">Return to search</a>
  </body>
</html>
