<h1>General error page</h1>
<h1><b style="color: red">Message: </b><%= message %></h1>
<h2><b style="color: red">Status error: </b><%= error.status %></h2>
<pre><b style="color: red">Stack de Error: </b><%= error.stack %></pre>
