<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet"  href="css/style.css">

  </head>
  <body>

      <h1>The Chunk Norris Joke Departament</h1>
      <pre>
        Here you can start looking for jokes...
            ...randomly or by categories.

      </pre>
      <a href="/random">Random search</a>
      <br>
      <a href="/categories">Jokes by category</a>
      <br/>
      <a href="/search">Search by word</a>
  </body>
</html>
